<div class="example-container" [formGroup]="profileForm" [ngClass]="{ 'form-submit': submitted}">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Artist</mat-label>
    <input matInput type="text" formControlName="artist">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Genre</mat-label>
    <mat-select [disabled]="disabledEditForm" formControlName="genre">
      <mat-option value="pop">Pop</mat-option>
      <mat-option value="rap">Rap</mat-option>
      <mat-option value="hip-Hop">Hip-Hop</mat-option>
      <mat-option value="alternative">Alternative</mat-option>
      <mat-option value="rock">Rock</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cover Url</mat-label>
    <input matInput type="url" formControlName="coverUrl">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Release Data</mat-label>
    <input matInput type="date" formControlName="releaseData">
  </mat-form-field>
  <button class="button" mat-button [disabled]="disabledEditForm" (click)="submit()" type="submit">Submit</button>
  <button class="button" mat-button [disabled]="disabledEditForm" (click)="cancel()">Cancel</button>
</div>
